.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  height: 160px;
  padding: 10px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

html{
  margin:0;
  padding:0;
  max-height:100vh;
  /* overflow:hidden; */
}

body {
  background: rgba(1, 1, 1, 0);
  height: 100%;
}